@charset "UTF-8";
/*criando variaveis em css*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{

    font-family: 'Android';
    src: url('idroid.otf') format('opentype');
    font-weight: normal;


}
:root{

    --cor0: #721313;
    --cor1: rgba(99, 201, 124, 0.637);
    --cor2: #146D39;
    --cor3: #146D39;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue, cursive';
    --font-Android: 'Android', cursive;

}
*{

    margin: 0px;
    padding: 0px;

}
body{
    font-family: idr, Helvetica, sans-serif;
 margin: 0;
background-color: #E7E5C1;

}
article div.video {

position: relative;
background-color: var(--cor3);
margin: 0px -10px 30px -12px;
padding: 20px;
padding-bottom: 55%;

}
div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;



}
article > p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
article > strong{
    color: var(--cor1);
    font-weight: bold;
   


}
aside p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

header{
    
   
    min-height: 150px;
    padding-top: 40px;
  
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor1));
}
header > h1{
    font-family: var(--font-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
}
header > p{
    font-family: var(--font-padrao);



}

nav{

background-color: var(--cor1);
padding: 10px;

}
nav > a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    transition-duration: .5s;

}

main{
min-width: 320px;
max-width: 820px;

background-color: white;
margin: auto;
padding: 10px;
box-shadow: 0px 0px 10px black;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}
img{

        width: 100%;
}

article a {

text-decoration: none;
font-weight: bold;
color: var(--cor1);
padding: 2px 6px;



}
article a:hover{
    background-color: var(--cor3);
    text-decoration: underline;


}
article > div#robo{

    text-align: center;
}

article> p{
   text-align: justify;
}
article h2{
    color: #146D39;
    font-family: var(--font-Android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    
    }
article h3{
        font-family: var(--font-Android);
        font-style: var(--font-destaque);
        background-image: linear-gradient(to right, var(--cor1), transparent);
    }
div#ftmulher{

    text-align: center;


}


aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    
    
    }
    aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}
article h2{

background-color: var(--cor3);
color: white;
padding: 5px;
margin: -10px -10px 0px -10px;
border-radius: 10px 10px 0px 0px;

}
aside abbr{
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: var(--cor3);
    font-size: 0.8em;
    color: white;
    


}
footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);

}

div#ftandroid{
    display: block;
    margin: auto;
    max-width: 350px;



}









